{% extends "main.html" %}
{% load static %}

{% block content %}
<div class="title-container glassmorphism">
    <div class="header">
        <h3>Analytics for {{handleName|title}}</h3>
        <div class="analytics">
            <div><i class="fa-solid fa-heart"></i> 100</div>
            <div><i class="fa-solid fa-hashtag"></i> 100</div>
            <div><i class="fa-solid fa-square-share-nodes"></i> 100</div>
        </div>
    </div>
</div>
<div class="social-media-posts">
</div>
{% endblock content %}